/* @import url(https://db.onlinewebfonts.com/c/5cae74f63bd48d24d5abdddb3af09a50?family=Airbnb+Cereal+App+Black); */
@font-face {
  font-family: "airbnb_cereal_appblack";
  src: url("airbnb_cereal_app_black-webfont.woff2") format("woff2"),
    url("airbnb_cereal_app_black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Airbnb Cereal App Black";
}
:root {
  --bottom-header-color: #000020;
  --paragraph-color: #9090a7;
  --primary-color: #060640;
  --secondary-color: #00e5cc;
  --section-color: #ecf9ff;
}
.dis-flex {
  display: flex;
  /* flex-wrap: wrap; */
}
.dis-grid {
  display: grid;
  gap: 1.5rem;
}
.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  border-radius: 6px;
  color: #fff;
  flex-shrink: 0;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 0 3.5rem 0 3.6rem;
  cursor: pointer;
  transition: all 0.5s ease;
}
.button:hover{
  opacity: 0.8;
  transform: scale(1.02);
}
img {
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
}
section {
  padding: 11rem 13.5rem;
}
.section-header {
  text-align: center;
  font-size: 4.5rem;
  font-style: normal;
  font-weight: 700;
  color: var(--primary-color);
}
.section-header-sub {
  text-align: center;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  color: var(--paragraph-color);
}
.custom-h1 {
  color: var(--primary-color);
  font-style: normal;
  font-weight: 500;
}
.custom-p {
  color: var(--paragraph-color);
  font-style: normal;
  font-weight: 400;
}
/* navBar design */
nav {
  background-color: var(--section-color);
  padding: 3.5rem 13.5rem 0;
  /* margin: 5rem 13.5rem 13rem; */
}
.navBar {
  align-items: center;
  background-color: #fff;
  border-radius: 1rem;
  justify-content: space-between;
  margin-bottom: 13rem;
  padding: 1.5rem 0;
}
ul li {
  list-style-type: none;
}
ul li a {
  margin: 0.5rem;
  padding: 1rem 0.5rem;
}
.navBar__left {
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  padding: 0 3.5rem;
}
.navBar__left::first-letter {
  color: #00e5cc;
}
.navBar__left:not(::first-letter) {
  color: var(--primary-color);
}
.navBar__mdl,
.navBar__right {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
}
.navBar__mdl li a {
  color: var(--paragraph-color);
  transition: all 0.4s ease-out;
}
.navBar__mdl li:hover a {
  color: #00e5cc;
  font-size: 1.5rem;
}
.navBar__right li a {
  color: var(--primary-color);
}

.navBar__right li a {
  color: #060640;
  border-radius: 6px;
}
.navBar__right li:hover a {
  background-color: #060640;
  color: #fff;
}
/* ---------------- */
.hero__left {
  width: 50%;
  margin-right: 4.7rem;
}
.hero__left h1 {
  font-size: 5rem;
  font-style: normal;
  font-weight: 700;
  color: #060640;
}
.hero__left__p {
  margin: 3rem 0 3.5rem 0;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  color: var(--paragraph-color);
}
.hero__right img {
  max-width: 100%;
}
.dis__flex-btn {
  height: 6rem;
}

.dis__flex-btn i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  font-size: 2rem;
  color: var(--secondary-color);
  background-color: #fff;
  margin: 0 3rem;
}
.group17 {
  border-radius: 14px;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(5px);
  padding: 2.3rem 2.1rem;
  margin-top: 7rem;
}
.group17__header {
  margin-bottom: 1rem;
}
.group17__header__icon {
  justify-content: space-between;
}
.group17__p__span {
  font-weight: 500;
}
/* Work section */
.work-header-sub {
  margin: 1.2rem 0 7rem;
}
.work-cards {
  background-color: #fff;
  grid-template-columns: repeat(3, 1fr);
}
.work-card {
  border-radius: 1.4rem;
  box-shadow: 0rem 0rem 0.07rem 0;
  padding: 3rem;
  transition: all 0.5s ease;
}
.work-card:hover{
  transform: scale(1.02);
}
.work-card img {
  width: 7rem;
  height: 7rem;
  padding: 1.5rem;
  border-radius: 1rem;
  background: rgba(236, 249, 255, 0.8);
}
.work-card-heading {
  margin: 5rem 0 1rem 0;
  font-size: 2.4rem;
}
.work-card-p {
  font-size: 1.6rem;
}
/* ------------------- */
.about-left {
  width: 40%;
  margin-right: 4rem;
}
.about-left-heading {
  font-weight: 700;
  font-size: 4.5rem;
}
.about-left-p {
  margin: 1.2rem 0 4rem;
  font-size: 1.6rem;
}

.about-info-cards {
  margin: 3rem 0 4rem 0;
}
.icon-box {
  width: 6rem;
  height: 6rem;
  border-radius: 1.2rem;
  padding: 1.5rem;
  background-color: rgba(236, 249, 255, 0.8);
}
.about-info-card-body {
  margin-left: 2.5rem;
}
.about-info-card-p {
  margin-top: 0.8rem;
}
.about-right {
  width: 60%;
  position: relative;
}
.about-right-img1 {
  position: absolute;
  bottom: 13.5rem;
  right: 40%;
  z-index: 3;
}
.icon-box-modify {
  border-radius: 50%;
}
.about-right-img2 {
  /* background-color: greenyellow; */
  position: absolute;
  bottom: -11rem;
  right: 33%;
  z-index: 2;
  /* box-shadow: 0rem 0rem 0.07rem 0; */
}
.about-right-img3 {
  position: absolute;
  bottom: 0;
  right: 2.1rem;
}
.about-right-img4 {
  position: absolute;
  top: -25rem;
  right: 2.1rem;
}
/* --------------------------- */
.service-section {
  background-color: #ecf9ff;
}
.service-cards {
  margin-top: 7.5rem;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}
.service-card-info {
  min-width: 100%;
  border-radius: 1.4rem;
  border: 1px solid #fff;
  padding: 1.6rem;
  box-shadow: 0px 10px 70px 0px rgba(2, 2, 38, 0.06);
  transition: all 0.5s ease;
}
.service-card-info:hover{
  opacity: 0.8;
  transform: scale(1.01);
}
.serv-card-header {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  margin: 1.8rem 0;
}
.service-card-info img {
  width: 100%;
  border-radius: 8px;
}
.service-card-footer {
  justify-content: space-between;
  align-items: center;
}
.serv-card-footer-left {
  height: 10vh;
  align-items: center;
}
.serv-card-footer-left img {
  background-color: #fff;
  width: 4.7rem;
  height: 4.7rem;
  border-radius: 50%;
  background: lightgray cover no-repeat;
  object-fit: cover;
  padding: 0.5rem;
  margin: -8px;
}
.serv-card-footer-left p {
  margin: 1.5rem;
}
.serv-card-footer-right p {
  color: var(--secondary-color);
  font-size: 1.4rem;
  font-weight: 500;
  font-style: normal;
}
/* ------------------ */
.newsletter-section {
  display: flex;
  background-color: #ecfdff;
}
.newsletter-left {
  width: 70%;
}
.newsletter-left-header {
  color: var(--primary-color);
  font-size: 4.5rem;
  font-style: normal;
  font-weight: 700;
}
.newsletter-left-p {
  font-size: 1.6rem;
  margin: 4.1rem 0;
}
.subscribe-btn {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  border-radius: 0.6rem;
}
.subscribe-btn-p {
  padding: 3.1rem 2rem;
  font-size: 1.6rem;
}
.subscribe-button {
  background-color: var(--primary-color);
  padding: 3rem 4.2rem;
  margin: 0.9rem;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 500;
  font-style: normal;
  border-radius: 0.6rem;
  transition: all 0.5s ease;
}
.subscribe-button:hover{
  opacity: 0.8;
}
.newsletter-right {
  width: 30%;
}
.newsletter-right img{
  width: 100%;
}
/* --------------------- */
footer {
  background-color: var(--primary-color);
  width: 100%;
  padding: 13.5rem 8rem;
  grid-template-columns: 2fr 1fr 1fr 1fr;
}
.footer-about-logo {
  font-size: 5rem;
  font-style: normal;
  font-weight: 700;
  color: #fff;
}
.footer-about-logo::first-letter {
  color: #00e5cc;
}
.footer-about-p {
  font-size: 1.6rem;
  margin: 2rem 0;
}
.social_media_icon {
  margin-bottom: 2.5rem;
}
.social_media_icon i {
  margin: 0 0.8rem;
  font-size: 3rem;
  color: #9090a7;
  transition: all 0.8s ease;
}
.social_media_icon i:hover {
  color: #00e5cc;
  cursor: pointer;
}
.footer_info_header {
  color: #fff;
  margin-bottom: 4rem;
}
.footer_infos li{
  list-style-type: none;
  margin: 1.3rem 0;
}
.footer_infos li a{
  padding: 0;
  font-size: 1.6rem;
  color: #9090a7;
  text-decoration: none;
  transition: all 0.5s ease;
}
.footer_infos li a:hover{
  color: #00e5cc;
  transform: scale(1.2);

}
/* ---------------- */
.copyright{
  background-color: #000020;
  color: #fff;
  padding: 2.7rem 13.6rem;
  display: flex;
  justify-content: space-between;
}
.copyright p{
  font-size: 1.6rem;
}